.splash {
  max-width: 100vw;
  position: relative;
  background: linear-gradient(to bottom, rgba(19, 19, 19, 0) 20%, rgba(0, 0, 0) 90%), url('/images/background.jpg');
  height: 1297px;
  // height: 100vh;
  background-position: center;
  background-size: cover;

  .splash-inner {
    margin: 0 482px 0 418px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 58px;

    .title-splash {
      position: absolute;
      margin: 494px 484px 667px 516px;
      text-shadow: 0 0 118px rgba(0, 0, 0, 0.39);
      font-size: 200px;
      font-weight: bold;
      font-style: normal;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 120px;
      span {
        letter-spacing: 0;
      }
    }

    .subtitle-splash {
      position: absolute;
      width: 181px;
      height: 169px;
      margin: 698px 902px 430px 937px;
      font-family: $font-basic;
      font-size: 36px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 11px;
      word-spacing: 20px;
    }
  }
}

.navigation {
  margin-top: 30px;

  background-color: black;
  .container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    a {
      font-weight: bold;
      color: $gray-color;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 30px;
    }
    .clicked {
      color: $main-color;
    }
  }
}

footer {
  p {
    margin: 28px 0;
    font-size: 20px;
    text-align: center;
    color: $gray-color;
  }
}
